doctype html
html
    head
        title chat-app
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/helper.css")
        link(rel="stylesheet", href="css/reset.css")


    body 
        block layout-content
        script(src="js/main.js" type="module")

    footer